models/11_body_pose/mp_env/
models.zip
.venv
venv/
__pycache__/
.ipynb_checkpoints/
*.py[cod]
models/models_beauty_standards/alexnet.caffemodel
models/models_beauty_standards/resnext50.caffemodel
*.caffemodel
*.h5
*.pth
*.pt
*.zip
Masterarbeit
Masterarbeit/Meetings
test_data/video-frames
data/02_media/ai_videos_2025/videos/
data/02_media/ai_videos_2025/frames/
data/02_media/real_videos_2025/videos/
data/02_media/real_videos_2025/frames/
data/02_media/stratified_sample/frames/
data/02_media/stratified_sample/videos/
