bertopic
emoji
facenet-pytorch
huggingface-hub
ipykernel
ipython
jupyter
matplotlib
mediapipe
nbconvert
numpy
openpyxl
opencv-python
pandas
Pillow
retina-face
scikit-learn
scipy
seaborn
sentence-transformers
spacy
torch
torchvision
tqdm
transformers
